matplotlib==3.10.1
jupyterlab==4.3.5
scipy
scikit-learn
scikit-image==0.25.2
pandas
music21==9.5.0
black[jupyter]==25.1.0
click
flake8==5.0.4
kaggle==1.7.4.2
pydot==3.0.4
ipywidgets==8.1.5
#tensorflow==2.15.0
#tensorboard==2.15.0
tensorflow_probability
flake8-nb==0.5.3
gradio==5.21.0




# matplotlib==3.6.3
# jupyterlab==3.5.3
# scipy==1.15.2
# scikit-learn==1.2.1
# scikit-image==0.19.3
# pandas==1.5.3
# music21==8.1.0
# black[jupyter]==23.1.0
# click==8.0.4
# flake8==5.0.4
# kaggle==1.5.12
# pydot==1.4.2
# ipywidgets==8.0.4
# #tensorflow==2.15.0
# #tensorboard==2.15.0
# tensorflow_probability==0.18.0
# flake8-nb==0.5.2
# gradio==4.44.1